nav{
    display: flex;
    width: 100%;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.Left{
    width: 20% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right: 5%; */
}
.logo { 
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1.5em; */
    will-change: filter;
    transition: filter 300ms;
}
.left img{
    width: 50%;
    height: 50%; 
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.right{
    width: 20%;
    display: flex;
    text-align: center;
    justify-content: right;
    align-items: center;
    padding-right: 0%5%;
}
.links{
    width: 60%;

}
ul{
    padding: 0%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 3%;
}
li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}   